<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Customer List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  
    <style>
        .card {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            margin: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            max-width: ;
            text-align: center;
        }

        h2 {
            color: #007bff;
        }
        .h{
            color:crimson;
            display: inline-block;
            font-weight : bold;
        }   
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="home" href="{{ url_for('dashboard')}}">Home</a>
                <a class="nav-item nav-link" id="logout" href="{{ url_for('admin_logout')}}" style="color: crimson;"">Logout</a>
                </div>
        </div>
    </nav>
<br><br><br>
    <h1>Customer Records : {{ cus_name }}</h1>

    {% for customer in customers %}
        <div class="card">
            <p><div class="h">Start time: </div>{{ customer[1] }}</p>
            <p><div class="h">End time: </div>{{ customer[2] }}</p>
            <p><div class="h">Duration: </div>{{ customer[3] }} seconds</p>
            <p><div class="h">System ID used: </div> {{customer[4]}}</p>
            <p><div class="h">Cost: </div>{{ customer[5] }}₹</p>
        </div>
    {% endfor %}

</body>
</html>
